@model IEnumerable<TradixProjectPresentationLayer.Models.DovizPara>
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Döviz Para Listeleme</title>
    <style>
        /* Genel Sayfa Stili */
        body {
            background-color: #F3F6F9;
            color: #fff;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        h2 {
            text-align: center;
            margin-top: 30px;
            color: #333;
        }

        .main-content {
            margin: 20px auto;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 250px; /* Sidebar genişliği kadar boşluk bırak */
            padding: 20px;
        }

        .container {
            width: 100%;
            max-width: 1200px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: flex-start;
        }

        /* Kart Tasarımı */
        .card {
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: calc(33.33% - 15px);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: transform 0.2s ease, box-shadow 0.2s ease;
            color: #333;
        }

            /* Renk Teması */
            .card:nth-child(1) {
                background-color: #F2A900;
            }

            .card:nth-child(2) {
                background-color: #FAE08A;
            }

            .card:nth-child(3) {
                background-color: #8A2BE2;
            }

            .card:nth-child(4) {
                background-color: #B68BFF;
            }

            .card:nth-child(5) {
                background-color: #00FF00;
            }

            .card:nth-child(6) {
                background-color: #99FF99;
            }

            .card:nth-child(7) {
                background-color: #008CBA;
            }

            .card:nth-child(8) {
                background-color: #99CCFF;
            }

            .card:nth-child(9) {
                background-color: #FFD700;
            }

            .card:nth-child(10) {
                background-color: #FFEE99;
            }

            .card:nth-child(11) {
                background-color: #FF7F00;
            }

            .card:nth-child(12) {
                background-color: #FFCC99;
            }

            .card:nth-child(13) {
                background-color: #FF0000;
            }

            .card:nth-child(14) {
                background-color: #FF9999;
            }

            .card:nth-child(15) {
                background-color: #800080;
            }

            .card:nth-child(16) {
                background-color: #D8BFD8;
            }

            .card:nth-child(17) {
                background-color: #0000FF;
            }

            .card:nth-child(18) {
                background-color: #ADD8E6;
            }

            .card:nth-child(19) {
                background-color: #006400;
            }

            .card:nth-child(20) {
                background-color: #90EE90;
            }

            .card:nth-child(21) {
                background-color: #808000;
            }

            .card:nth-child(22) {
                background-color: #FFFF99;
            }

            .card:nth-child(23) {
                background-color: #FFA500;
            }

            .card:nth-child(24) {
                background-color: #FFDAB9;
            }

            .card:nth-child(25) {
                background-color: #A52A2A;
            }

            .card:nth-child(26) {
                background-color: #CD5C5C;
            }

            .card:nth-child(27) {
                background-color: #2F4F4F;
            }

            .card:nth-child(28) {
                background-color: #778899;
            }

            .card:nth-child(29) {
                background-color: #696969;
            }

            .card:nth-child(30) {
                background-color: #C0C0C0;
            }

            .card:nth-child(31) {
                background-color: #4682B4;
            }

            .card:nth-child(32) {
                background-color: #87CEFA;
            }

            .card:nth-child(33) {
                background-color: #20B2AA;
            }

            .card:nth-child(34) {
                background-color: #7FFFD4;
            }

            .card:nth-child(35) {
                background-color: #00CED1;
            }

            .card:nth-child(36) {
                background-color: #1E90FF;
            }

            .card:nth-child(37) {
                background-color: #B22222;
            }

            .card:nth-child(38) {
                background-color: #FF4500;
            }

            .card:nth-child(39) {
                background-color: #DAA520;
            }

            .card:nth-child(40) {
                background-color: #E6E6FA;
            }


            .card:hover {
                transform: scale(1.05);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            }

        /* Kart Başlık */
        .card-header {
            text-align: center;
            font-size: 1.5em;
            margin-bottom: 10px;
            font-weight: bold;
            color: #fff;
        }

        /* Kart İçerik */
        .card-content span {
            display: block;
            margin: 10px 0;
            font-size: 1.1em;
            color: #fff;
            padding: 8px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.2);
        }

            /* Çizgiler Arası Ayırıcı */
            .card-content span:not(:last-child) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            }
    </style>
</head>
<body>

    <div class="main-content">
        <h2>Döviz Para Listesi</h2>
        <div class="container">
            <div class="row">
                @foreach (var doviz in Model)
                {
                    <div class="card">
                        <div class="card-header">
                            @doviz.DovizAdi
                        </div>
                        <div class="card-content">
                            <span><strong>Alış Fiyatı:</strong> @string.Format("{0:C}", doviz.AlisFiyati)</span>
                            <span><strong>Satış Fiyatı:</strong> @string.Format("{0:C}", doviz.SatisFiyati)</span>
                            <span><strong>Piyasa Değeri:</strong> @(doviz.PiyasaDegeri.HasValue ? string.Format("{0:C}", doviz.PiyasaDegeri) : "N/A")</span>
                            <span><strong>Günlük Hacim:</strong> @(doviz.GunlukHacim.HasValue ? string.Format("{0:C}", doviz.GunlukHacim) : "N/A")</span>
                            <span><strong>Değişim (%):</strong> @(doviz.DegisimYuzdesi.HasValue ? doviz.DegisimYuzdesi + "%" : "N/A")</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</body>
</html>
